<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-sb">
        <ul>
          <li class="p-hamburger">
            <img src="assets/img/src_menu.png" alt="The menu icon" width="24">
          </li>
          <li>
            <img src="assets/img/src_search.png" alt="The icon for search" width="24">
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">
              Home
            </a>
          </li>
          <li>
            <a href="#">
              About
            </a>
          </li>
          <li>
            <a href="#">
              Portfolio
            </a>
          </li>
          <li>
            <a href="#">
              Reach
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>
