<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span>Arbuzer</span>
        <h1>SuperArbuzer</h1>
        <p>History of ArbuzerIn this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.In this example, the position: fixed; CSS property is applied to the header element, and the top and left properties are set to 0 to position the header at the top of the page. The width is also set to 100% to stretch the header across the entire width of the page. The padding property is used to add some spacing around the header content.

          The main element has also been given some margin at the top so that the content doesn't overlap with the fixed header.</p>
      </div>
    </div>
  </div>
</section>
